@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	--bg: #131313;
	--dark: #000;
	--accent: #5a00a9;
	--fade: #f5f5f5;
	--light: #fff;
	--border-lt: #ffffff46;
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	user-select: none;
}
