.main {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background-color: var(--bg);

	> div {
		height: 100vh;
		max-height: 100vh;

		> div > div > div {
			border-radius: 0;
			box-shadow: none;
		}
	}
}
