.main {
	height: 100vh;
	max-height: 100vh;
	background-color: var(--bg);
	position: relative;
	overflow: hidden;

	> div {
		height: 100vh;
		max-height: 100vh;

		> div > div > div {
			border-radius: 0;
			box-shadow: none;
		}
	}

	> .settingsOverlay {
		position: absolute;
		left: -1vw;
		top: 50%;
		transform: translateY(-50%);
		width: 5vw;
		height: fit-content;
		border-radius: 0.5rem;
		background-color: #9f9a9a1e;
		opacity: 0.1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		z-index: 9999;

		&:hover {
			background-color: #9f9a9a38;
			opacity: 1;
			left: 2vw;
		}

		> .button {
			width: 100%;
			aspect-ratio: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.2s ease-in-out;

			> svg {
				font-size: 1.75rem;
				color: #ffffff;
				transition: all 0.2s ease-in-out;
			}

			&:hover {
				background-color: #ffffff;

				> svg {
					color: var(--bg);
				}
			}
		}
	}
}
